/*
    // Retreat Centers Style
    ///
*/
* {
  margin: 0;
  padding: 0; }

/*
    Color Variables
*/
.upper {
  text-transform: uppercase; }

body {
  font-family: 'Proxima-Nova', sans-serif;
  font-weight: 300; }

article {
  min-height: 100%; }

section {
  display: block; }

a {
  text-decoration: none; }

button {
  outline: none !important;
  border: none;
  background: #e9e8e8;
  color: #424040;
  display: block;
  padding: 5px 15px;
  border-radius: 25px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto; }

button:hover {
  opacity: 0.7;
  cursor: pointer;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

/*
    // Pieces
    ///
*/
.thirdsies {
  width: 32%;
  float: left;
  z-index: 10; }

/* Header and Logo Section */
.header {
  background: #424040;
  height: 31px;
  width: 100%; }

.middle-width {
  box-sizing: border-box;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }

.middle-width .plan {
  background: #f3f3f2; }

.thin {
  width: 100%;
  box-sizing: border-box;
  border: 2px #e9e8e8 solid; }

/* Header Section */
.header .middle-width {
  height: 31px; }

/* Logo Section */
.logo-sect {
  box-sizing: border-box;
  text-align: center;
  display: inline; }

.logo-sect img {
  margin: 30px 0;
  max-width: 80%;
  max-height: 220px; }

.logo-sect .plan {
  box-sizing: border-box;
  padding: 27px 0; }

/* Description Section */
.desc-sect {
  background: #f3f3f2;
  text-align: center; }

.desc-sect .plan h2 {
  margin-top: 30px; }

.desc-sect .plan p {
  margin-top: 30px;
  margin-bottom: 30px; }

/* Display Section */
.cont {
  margin: 40px auto; }

.display-sect .thirdsies {
  position: relative; }

.display-sect .thirdsies:nth-child(1), .display-sect .thirdsies:nth-child(2) {
  margin-right: 2%; }

.display-sect .thirdsies .logo {
  text-align: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: 15%;
  z-index: 1; }

.display-sect .thirdsies .logo img:first-child {
  max-height: 191px; }

.display-sect .thirdsies .background {
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear; }

.display-sect .thirdsies a:hover > .background {
  opacity: 1; }

.display-sect .thirdsies p {
  color: #fff;
  text-align: center; }

.display-sect .thirdsies p:first-child {
  margin-bottom: 10px;
  font-size: 20px; }

.display-sect .thirdsies p:last-child {
  font-size: 15px; }

.display-sect .thirdsies .title {
  padding: 20px 0;
  margin-top: -87px;
  position: relative; }

.display-sect .thirdsies .title p {
  text-transform: uppercase; }

.display-sect .thirdsies .tp {
  background-color: #51748b; }

.display-sect .thirdsies .mhs {
  background-color: #00697f; }

.display-sect .thirdsies .gvl {
  background-color: #007161; }

.display-sect .thirdsies .article {
  text-align: center;
  margin-top: 70px; }

.display-sect .thirdsies .article .art-cont {
  height: 115px;
  box-sizing: border-box;
  padding-bottom: 20px; }

.display-sect .thirdsies .article .art-cont p {
  color: #424040;
  font-size: 14px;
  line-height: 1.6;
  text-align: left; }

.display-sect .thirdsies .article a {
  display: block;
  margin-bottom: 20px; }

/* Article Section */
.article-sect {
  background: #f3f3f2;
  height: 260px;
  position: relative;
  top: -300px;
  margin-bottom: -300px; }

/* Tagline Section */
.tagline-sect {
  margin: 25px 0; }

.tagline-sect .middle-width {
  max-width: 640px; }

.tagline-sect hr {
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 250px; }

.tagline-sect p {
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
  letter-spacing: 0.9px; }

.tagline-sect p:first-child {
  font-size: 15px; }

.tagline-sect p:nth-child(2) {
  font-size: 30px;
  font-weight: bold; }

.tagline-sect p:last-child {
  font-size: 15px; }

/* Footer */
.footer {
  background-color: #424040;
  height: 50px; }

.footer p {
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  color: #f3f3f2;
  font-size: 18px; }

/*
    //RESPONSIVE CODE
    ///
*/
@media only screen and (max-width: 860px) {
  .thirdsies {
    float: none;
    margin: 0 auto !important;
    width: 50vw; }
  .thirdsies:nth-child(1) .article, .thirdsies:nth-child(2) .article {
    margin: 70px 0; }
  .thirdsies a {
    margin: 0; }
  .thirdsies button {
    font-size: 16px; }
  .article-sect {
    display: none; } }

@media only screen and (max-width: 650px) {
  .thirdsies {
    width: 70vw; } }

@media only screen and (max-width: 560px) {
  .thirdsies {
    width: 80vw; } }

@media only screen and (max-width: 500px) {
  .art-cont {
    height: 265px !important; } }

@media only screen and (max-width: 415px) {
  .thirdsies {
    width: 90vw; }
  .thirdsies .logo {
    top: 10% !important; } }

@media only screen and (max-width: 300px) {
  .thirdsies .logo
img:first-child {
    max-height: 100px !important; } }
