/*
    // Retreat Centers Style
    ///
*/

@import "bourbon/bourbon";

* {
    margin: 0;
    padding: 0;
}

/*
    Color Variables
*/

$black: #424040;
$dark: #a3a2a2;
$dark-grey: #e9e8e8;
$light-grey: #f3f3f2;
$tp: #51748b;
$mhs: #00697f;
$gvl: #007161;

.upper {
    text-transform: uppercase;
}

body {
    font-family: 'Proxima-Nova', sans-serif;
    font-weight: 300;
}

article {
    min-height: 100%;
}

section {
    display: block;
}

a {
    text-decoration: none;
}

button {
    outline: none !important;
    border: none;
    background: $dark-grey;
    color: $black;
    display: block;
    padding: 5px 15px;
    border-radius: 25px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    &:hover {
        opacity: 0.7;
        cursor: pointer;
        @include transition(opacity .1s linear);
    }
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*
    // Pieces
    ///
*/

.thirdsies {
    width: 32%;
    float: left;
    z-index: 10;
}

/* Header and Logo Section */

.header {
    background: $black;
    height: 31px;
    width: 100%;
}

.middle-width {
    box-sizing: border-box;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    .plan {
        background: $light-grey;
    }
}

.thin {
    width: 100%;
    box-sizing: border-box;
    border: 2px $dark-grey solid;
}

/* Header Section */

.header {
    .middle-width {
        height: 31px;
    }
}

/* Logo Section */

.logo-sect {
    box-sizing: border-box;
    text-align: center;
    display: inline;
    img {
        margin: 30px 0;
        max-width: 80%;
        max-height: 220px;
    }
    .plan {
        box-sizing: border-box;
        padding: 27px 0;
    }
}

/* Description Section */

.desc-sect {
    background: $light-grey;
    text-align: center;

    .plan {
        h2 {
            margin-top: 30px;
        }
        p {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

/* Display Section */

.cont {
    margin: 40px auto;
}
.display-sect {
    // height: 725px;
    // margin-top: -210px;
    .thirdsies {
        &:nth-child(1), &:nth-child(2) {
            margin-right: 2%;
        }
        position: relative;
        .logo {
            text-align: center;
            position: absolute;
            left: 0;
            width: 100%;
            top: 15%;
            z-index: 1;
            img:first-child {
                max-height: 191px;
            }
        }
        .background {
            width: 100%;
            height: 100%;
            max-width: 100%;
            opacity: 0.5;
            @include transition(opacity .1s linear);
        }
        a:hover > .background {
            opacity: 1;
        }
        p {
            color: #fff;
            text-align: center;
            &:first-child {
                margin-bottom: 10px;
                font-size: 20px;

            }
            &:last-child {
                font-size: 15px;
            }
        }
        .title {
            padding: 20px 0;
            margin-top: -87px;
            position: relative;
            p {
                text-transform: uppercase;
            }
        }
        .tp {
            background-color: $tp;
        }
        .mhs {
            background-color: $mhs;
        }
        .gvl {
            background-color: $gvl;
        }

        .article {
            text-align: center;
            margin-top: 70px;
            .art-cont {
                height: 115px;
                box-sizing: border-box;
                padding-bottom: 20px;
                p {
                    color: $black;
                    font-size: 14px;
                    line-height: 1.6;
                    text-align: left;
                }
            }
            a {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
}

/* Article Section */

.article-sect {
    background: $light-grey;
    height: 260px;
    position: relative;
    top: -300px;
    margin-bottom: -300px;
}

/* Tagline Section */

.tagline-sect {
    margin: 25px 0;
    .middle-width {
        max-width: 640px;
    }
    hr {
        border-width: 1px;
        margin-left: auto;
        margin-right: auto;
        width: 250px;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 0.9px;
        &:first-child {
            font-size: 15px;
        }
        &:nth-child(2) {
            font-size: 30px;
            font-weight: bold;
        }
        &:last-child {
            font-size: 15px;
        }
    }
}

/* Footer */

.footer {
    background-color: $black;
    height: 50px;
    p {
        padding: 15px 0;
        text-align: center;
        text-transform: uppercase;
        color: $light-grey;
        font-size: 18px;
    }
}

/*
    //RESPONSIVE CODE
    ///
*/

@media only screen and (max-width: 860px) {
    //sets initial responsive code
    .thirdsies {
        float: none;
        margin: 0 auto !important;
        width: 50vw;
        &:nth-child(1), &:nth-child(2) {
            .article {
                margin: 70px 0;
            }
        }
        a {
            margin: 0;
        }
        button {
                font-size: 16px;
            }
    }
    .article-sect {
        display: none;
    }
}

@media only screen and (max-width: 650px) {
    .thirdsies {
        width: 70vw;
    }
}

@media only screen and (max-width: 560px) {
    .thirdsies {
        width: 80vw;
    }
}

@media only screen and (max-width: 500px) {
    .art-cont {
        height: 265px !important;
    }
}

@media only screen and (max-width: 415px) {
    .thirdsies {
        width: 90vw;
        .logo {
            top: 10% !important;
        }
    }
}
@media only screen and (max-width: 300px) {
    .thirdsies {
        .logo
            img:first-child {
                max-height: 100px !important;
            }
    }
}
